*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #b91450;
}


.informazioni {
    background-color: white;
    height: 200px;
    width: 500;
    border-radius: 20px;
}

/* testi informatici per input */

.caselle #nome {
    color: #bb2c60;
    background-color: none;
}

input {
    border-radius: 5px;
    color: #bb2c60;
    border: 1px solid #b883b9;
}


/* bottoni parte superiore */
.bottoni {
    background-color: #cccccc;
    border-radius: 5px;
    color: #bb2c60;
    border: 1px solid #b883b9;
    padding: 5px 10px;
}

/* Biglietto */

.stampa {
    background-color: white;
    height: 200px;
    width: 500;
}

.passeggero {
    background-color: #808080;
    color: black;
}